:root {
    --color-price: #26293a;
    --color-features: #9c9191;
    --color-boton: #fff;
}





.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    width: 300px;
    height: 500px;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 10px;
    margin: 7px;

}


.card {
    width: 27%;
    height: auto;
    box-shadow: var(--box-shadow);
    border-radius: 10px;



}

.card__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    height: 100%;
    width: 100%;
}




/* .card__name {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
    margin-bottom: 30px;
} */

.card__name {
    font-size: 18px;
    /* Tamaño de fuente del título */
    line-height: 1.2;
    /* Espaciado entre líneas del título */
    height: 3.6em;
    /* Altura máxima del título en líneas (18px x 1.2 x 3) */
    overflow: hidden;
    /* Recorta el texto que se desborda */
    text-overflow: ellipsis;
    /* Agrega puntos suspensivos al texto recortado */
    display: -webkit-box;
    /* Propiedad específica para navegadores WebKit */
    -webkit-line-clamp: 3;
    /* Número máximo de líneas a mostrar */
    -webkit-box-orient: vertical;
    /* Orientación vertical del texto */
    /* text-decoration: none; */
    margin: 0px 0px;
    padding: 0;
    text-decoration: none;
}


.card__img {
    background: var(--btn-color);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 0;
    margin: 0 auto;
    width: 200px;
    border-radius: 6px;
}







.card__btn {
    background: var(--btn-color);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 0;
    margin: 0 auto;
    width: 50px;
    border-radius: 6px;
    cursor: pointer;
}



.show__close {
    background: var(--btn-color);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 0;
    margin: 0 auto;
    width: 50px;
    border-radius: 6px;
    cursor: pointer;

}

.card__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 180px;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px 0px;
    padding: 0;

}