
    .formContainer {
        margin: 15px;
        padding: 20px;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #cfbcbcb0;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .inputField {
        width: 97%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        resize: none;
    }

    .textAreaField {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        resize: vertical;
    }

    .checkboxContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 15px;
    }

    .checkboxLabel {
        display: flex;
        align-items: center;
    }

    .checkbox {
        margin-right: 5px;
    }

    .errorMessage {
        color: red;
        font-size: 12px;
        margin-top: 5px;
    }

    .button {
        background-color: #009700;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    .button:hover {
        background-color: #00FF00;
    }


    .buttonContainer {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .cancelButton {
        background-color: #ccc;
        color: #333;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    .cancelButton:hover {
        background-color: #aaa;
    }

    .title {
        font-size: 1.8rem;
        margin-bottom: 20px;
        text-align: center;
        color: #333;
    }


