.backgroundContainer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* max-width: 100vh; */
    max-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.centeredContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 50%;

}

.img{
    max-width: 100%;
    width: 500px;
    height: 90%;
    object-fit: cover;
    padding-left: 30px;
    padding-top: 70px;
    margin: 10px;
}