
.containerHome {
    background-color: #000000;
    padding: 0;
    margin: 0;
    /* display: flex; */
}

/* .navbar{
    background-color: #000000;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #161616;
    color: white;
} */

.content {
    display: flex;
    margin-top: 2rem;
}

.sidebarHome {
    /* Styles for your SideBar component */
    width: 270px;
    padding: 1rem;
    border-right: 1px solid #ccc;
    background-color: #000000;
    /* centrar sidebar  */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* que se mantenga aunque se baje el scroll */
    /* position: fixed;
    height: 100%;
    overflow-y: auto; */

}

.paginatedList {
    /* Styles for your PaginatedList component */
    flex: 1;
    /* display: flex; */
}