/* CardsPagination.module.css */

.containerPaginate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin: 0 0.2rem;
}

.pagination button[disabled] {
    color: black;
    background-color: #ccc;
    cursor: not-allowed;
}