.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
}

.searchbar {
    display: flex;
    align-items: center;
}

input {
    padding: 5px;
    margin-right: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
}

.order-by,
.filter-genre,
.filter-source {
    display: flex;
}

.order-by button,
.filter-genre button,
.filter-source button {
    margin-right: 5px;
}